@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/formulario.css";

@import "./global/header.css";
@import "./global/footer.css";

/* componentes */
@import "./utilidades/componentes.css";

/* intro */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";
@import "../css/bicicleta/bicicleta.css";
@import "../css/bicicleta/seguro.css";

/* Seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* Termos */
@import "./termos/termos.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";
