.bicicletas-lista{
    padding: 60px 0px 120px 0px;
}

.bicicletas-lista h2{
    margin-bottom: 40px;  
}

.bicicletas-lista ul{
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x : auto;
    -webkit-overflow-scrolling: touch;
}

#bicicleta .bicicletas-lista ul{
    padding: 0 0 20px 0;
}

.bicicletas-lista li{
    flex: 1;
    min-width: 280px;
}

.bicicletas-lista a{
    display: block;
}

.bicicletas-lista img{
    margin-bottom: 16px;
}

.bicicletas-lista h3{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bicicletas-lista h3::before{
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    display: inline-block;
    margin-right: 8px;
    transition: width 0.3s;
}

.bicicletas-lista a:hover h3::before{
    width: 24px;
}

.bicicletas-lista li span{
    padding-left: 20px;
}

/* Media queries */
@media (max-width: 800px){
    .bicicletas-lista{
        padding-bottom: 60px;
    }
    .bicicletas-lista ul{
        gap: 20px;
    }
}

@media (max-width: 800px){
    #bicicleta .bicicletas-lista{
        margin: 0 10px;
    }
}