.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.botao {
    display: inline-block;
    color: #332200;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    line-height: 1.333;
    font-weight: 600;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A60C);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: max-content;
}

.botao:hover {
    background: linear-gradient(#FFB60d, #e59317);
}

.botao.secundario{
    background: var(--cor-c10);
    color: var(--cor-c2);
    max-width: max-content;
}

.botao.secundario:hover{
    background: var(--cor-c9);
}

@media (max-width: 600px) {
    .botao {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

.link{
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
}

.link::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}

.link:hover{
    color: var(--cor-c0);
}