.botao{
    display: inline-block;
    color: #332200;
    font-family: 'Poppins';
    font-size: 1.125rem;
    line-height: 1.333;
    font-weight: 600;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A60C);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.botao:hover{
    background: linear-gradient(#FFB60d, #e59317);
}

@media (max-width: 600px){
    .botao{
         padding: 12px 16px;
         font-size: 1rem;
     }
 }