.intro-bg{
    background: var(--cor-c12);
    box-shadow: inset 0 -120px #ffffff;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.intro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro h1{
    margin-bottom: 32px;
}

.intro p{
    margin-bottom: 20px;
}

.intro-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

/* Media queries */
@media (max-width: 800px){
    .intro{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .intro h1{
        margin-bottom: 16px;
    }

    .intro img{
        height: 300px;
        width: 100%;
    }

    .intro-conteudo{
        padding-bottom: 0px;
    }

    .intro-bg{
        box-shadow: inset 0 -60px #ffffff;
        padding-top: 40px;
        background: var(--cor-c11);
    }
}